/node_modules
/.next
/out
/build
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# prisma
/prisma/*.db

# misc
.DS_Store
*.log
.commandcode/
AssetFlow problem statement.pdfAssetFlow problem statement.pdf
